<div>
  <h1 style="text-align: center;">{{this.title}}</h1>
  <ul>
    <li
      style="list-style: none; margin-bottom: 10px; border: 1px solid; padding: 1rem"
    >
      <p>Precio: ${{this.price}}</p>
      <p>Descripción: {{this.description}}</p>
      <p>Stock: {{this.stock}}</p>
      <label for="quantity">Cantidad</label>
      <input
        name="quantity"
        type="number"
        class="quantityInput"
        data-id="{{this._id}}"
        min="1"
        value="1"
      />
      <button class="addToCart" data-id={{this._id}}>Agregar al Carrito</button>

    </li>
  </ul>
</div>

<script src="/js/addToCart.js"></script>